@use "../../sass/variables.scss" as *;

.modalWindow {
    background-color: $white;
    width: 758px;
    height: 436px;
    flex-shrink: 0;
    border-radius: 10px;

    &--wrap {
        background-color: $white;
        position: fixed;
        width: 758px;
        height: 436px;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 6px;
    }

    &__title {
        color: #000;
        font-family: Raleway;
        font-size: 35px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding:70px 136px 57px 168px;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        width: 558px;
        margin: auto;
    }

    &__buttons--button {
        width: 268px;
        height: 77px;
        flex-shrink: 0;
        border: 1px solid black;
        border-radius: 3px;
        font-family: Raleway;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    
    &__buttons--button:hover {
        background-color: #0C70F2;
       color: white; 
    }
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}