@media screen and (max-width: 998px) and (min-width: 100px) {
  .smtng {
    background-image: url(../../Images/moon-2048727_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .contact {
    background-color: #222;
    color: white;
    height: 100vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    &--container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(73, 73, 73, 0.4);
      width: 80%;
      margin-top: 90px;

      &__left {
        display: flex;
        flex-direction: column;
        // align-items: center;
        margin: 50px 0;
      }

      &__form {
        display: flex;
        flex-direction: column;
        align-items: center;

        .buttonWrap {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .buttonWrap button {
          padding: 20px 30px;
          border-radius: 10px;
          border: solid 1px #00d6b4;
          background-color: #222;
          color: white;
        }
      }

      &__form form {
        padding: 20px;

        .form-group {
          padding: 10px;
        }
      }
    }
  }
  input {
    height: 40px;
    border-radius: 5px;
    border: none;
    padding-left: 15px;
  }
  textarea {
    border-radius: 5px;
    border: none;
    padding-left: 15px;
  }
}

@media screen and (max-width: 2100px) and (min-width: 999px) {
  .smtng {
    background-image: url(../../Images/moon-2048727_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .contact {
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      align-self: center;
      background-color: rgba(73, 73, 73, 0.4);
      width: 70%;
      padding: 50px 0;

      &__left {
        padding: 50px;

        h2,
        h3 {
          font-size: 30px;
        }
      }

      &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // background-color: ;
        .buttonWrap {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .buttonWrap button {
          padding: 20px 30px;
          border-radius: 10px;
          border: solid 1px #00d6b4;
          background-color: #222;
          color: white;
        }

        .form-group {
          display: flex;
          padding: 10px;
          justify-content: center;
        }
        .submitBtn:hover {
          -webkit-box-shadow: 1px 4px 16px -2px #00d6b4;
          box-shadow: 1px 4px 16px -2px #00d6b4;
        }
      }
    }
  }
  input {
    height: 40px;
    border-radius: 5px;
    border: none;
    padding-left: 15px;
  }
  textarea {
    border-radius: 5px;
    border: none;
    padding-left: 15px;
  }
}
