@media screen and (max-width: 998px) and (min-width: 100px) {
  .container {
    &__background {
      // background-image: url(../../assets/Images/background-image.jpg);
      background-image: url(../../assets/Images/cloudGif.gif);
      background-repeat: no-repeat;
      // padding: 20px 0;
      background-size: cover;
      background-color: #222;
      -webkit-box-shadow: inset -2px -22px 18px 3px #222222;
      box-shadow: inset -2px -22px 18px 3px #222222;
    }

    &__background--wrap {
      display: flex;
      justify-content: center;
    }

    .button-position {
      display: flex;
      justify-content: center;
      margin: 30px 0;
    }

    &__main {
      margin: auto;
      display: flex;
      justify-content: center;
      font-size: 15px;
      margin-top: 140px;
      padding: 0 15%;
      width: 65%;
      text-align: center;
      color: white;

      &--button {
        padding: 9px 25px;
        background-color: transparent;
        border: solid 1px #00d6b4;
        color: #00d6b4;
      }

      @keyframes typing {
        from {
          width: 0;
        }
        to {
          width: 50%;
        }
      }

      @keyframes typing {
        from {
          width: 0;
        }
        to {
          width: 100%;
        }
      }
    }

    &__about {
      margin: 30% 0 15% 13%;
      font-size: 15px;
      width: 65%;
      color: white;
      text-align: center;

      h2 {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        color: white;
        font-weight: 100;
      }
    }
  }
}

@media screen and (max-width: 2100px) and (min-width: 999px) {
  .container {
    &__background {
      background-image: url(../../assets/Images/cloudGif.gif);
      background-repeat: no-repeat;
      background-size: cover;
      background-color: #222;
      -webkit-box-shadow: inset -2px -22px 18px 3px #222222;
      box-shadow: inset -2px -22px 18px 3px #222222;
    }

    &__background--wrap {
      display: flex;
      margin-top: 30px;
      padding-bottom: 300px;
    }

    .button-position {
      justify-content: center;
      margin: 30px 120px;
    }

    &__main {
      margin: auto;
      display: flex;
      justify-content: center;
      font-size: 30px;
      margin-top: 140px;
      padding: 0 15%;
      width: 65%;
      color: white;

      &--button {
        padding: 9px 25px;
        background-color: transparent;
        border: solid 1px #00d6b4;
        color: #00d6b4;
      }
      &--button:hover {
        -webkit-box-shadow: 1px 4px 16px -2px #00d6b4;
        box-shadow: 1px 4px 16px -2px #00d6b4;
      }

      @keyframes typing {
        from {
          width: 0;
        }
        to {
          width: 50%;
        }
      }

      @keyframes typing {
        from {
          width: 0;
        }
        to {
          width: 100%;
        }
      }
    }

    &__about {
      margin: 30% 0 15% 13%;
      font-size: 15px;
      width: 65%;
      color: white;
      text-align: center;

      h2 {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        color: white;
        font-weight: 100;
      }
    }
  }
}
