@media screen and (max-width: 998px) and (min-width: 100px) {
  .abWrap {
    color: #00d6b4;
    background-image: url(../../Images/moon-2048727_1280.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
      width: 40%;
      padding: 2%;
      background-color: white;
      border-radius: 5px;
    }

    h2,
    h3 {
      margin-top: 4%;
      font-weight: 100;
    }

    .abilityIcon {
      margin: 8px;
    }

    .wrapStars {
      display: flex;
      flex-direction: initial;
      padding-top: 15px;
    }

    .stars {
      width: 10px;
    }

    .abilityTitles {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .iconsWrap {
      display: flex;
      background-color: white;
      border-radius: 15px;
      -webkit-box-shadow: 11px 10px 5px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 11px 10px 5px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 11px 10px 5px 0px rgba(0, 0, 0, 0.75);
    }

    &--icons {
      width: 90%;
      background-color: rgba(73, 73, 73, 0.4);
      margin: 60px 0;
      border-radius: 15px;

      &__first {
        display: flex;
        align-items: center; // Center items horizontally
        gap: 10px;
        justify-content: center;
        margin: 10% 0;

        div {
          display: flex;
          flex-direction: column;
          align-items: center; // Center items horizontally
        }

        .abilityIcon {
          width: 80px; // Adjust the width as needed
          height: auto;
        }
      }

      &__second {
        display: flex;
        align-items: center; // Center items horizontally
        gap: 10px;
        justify-content: center;
        margin: 10% 0;

        div {
          display: flex;
          flex-direction: column;
          align-items: center; // Center items horizontally
        }

        .abilityIcon {
          width: 80px; // Adjust the width as needed
          height: auto;
        }
      }
    }
  }
}

@media screen and (max-width: 2100px) and (min-width: 999px) {
  .abWrap {
    // background-image: url("../../Images/skillsbackground.jpg");
    background-image: url(../../Images/moon-2048727_1280.jpg);
    color: #00d6b4;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    img {
      width: 40%;
      padding: 2%;
      background-color: white;
      border-radius: 5px;
    }

    h2,
    h3 {
      margin-top: 4%;
      font-weight: 100;
    }

    .abilityIcon {
      margin: 8px;
    }

    .wrapStars {
      display: flex;
      flex-direction: initial;
      padding-top: 15px;
      margin-bottom: 6px;
    }

    .stars {
      width: 10px;
    }

    .abilityTitles {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .iconsWrap {
      display: flex;
      background-color: white;
      border-radius: 15px;
      -webkit-box-shadow: 11px 10px 5px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 11px 10px 5px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 11px 10px 5px 0px rgba(0, 0, 0, 0.75);
    }

    &--icons {
      width: 50%;
      background-color: rgba(73, 73, 73, 0.4);
      margin: 60px 0;
      border-radius: 15px;

      &__first {
        display: flex;
        align-items: center; // Center items horizontally
        gap: 10px;
        justify-content: center;
        margin: 10% 0;

        div {
          display: flex;
          flex-direction: column;
          align-items: center; // Center items horizontally
        }

        .abilityIcon {
          width: 120px; // Adjust the width as needed
          height: auto;
        }
      }

      &__second {
        display: flex;
        align-items: center; // Center items horizontally
        gap: 10px;
        justify-content: center;
        margin: 10% 0;

        div {
          display: flex;
          flex-direction: column;
          align-items: center; // Center items horizontally
        }

        .abilityIcon {
          width: 120px; // Adjust the width as needed
          height: auto;
        }
      }
    }
  }
}
