// .player-container {
//   // display: flex;
//   // justify-content: space-between;
// }

.container--player {
  background-color: #ffffff;
  border-radius: 20px;
}

.react-audio-player {
  background-color: orange;
}
